<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Laminas cache-storage-adapter-{adapter} Tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="TESTS_LAMINAS_CACHE_EXTMONGODB_COLLECTION" value="cache" />
        <env name="TESTS_LAMINAS_CACHE_EXTMONGODB_CONNECTSTRING" value="mongodb://localhost/" />
        <env name="TESTS_LAMINAS_CACHE_EXTMONGODB_DATABASE" value="laminas_test" />
    </php>
</phpunit>
